
{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="bg-light p-5 rounded">
        <h1>About Libman</h1>
        <img src="/static/lib.jpg">
        <br>
        <br>
        <br>
        <h4>
            This is a photo of my library.
             It's a bit messy :D and I needed to write and make a list
              to manage the books. so 
               That's why I made Libman. With Libman,
                you can add and remove books to the library,
                 as well as have a list of books you lend.
        </h4>
    </div>
    
{% endblock %}
